<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body class="container">
    <%- include('../partials/header', {pagina: 'Sobre'}); %>
    
    <main>
        <div class="jumbotron">
            <h1>Sobre min</h1>
            <p>Oi sou Helton Heleno analista de sistema em Senior Norte do Paraná</p>
        </div>
    </main>

</body>
    <%- include('../partials/footer'); %>
</html>